<div class='body'>
<div class="container">
    <section class="row">
     <h2 class="title text-center">私のやっておけば良かった！</h2>
     
        <div class="col-xs-2">
        <%= render 'layouts/presidebar' %>
        </div>
        <div class='col-xs-10'>
        <% if user_signed_in? %>
            <div class="">
            <%= form_for @regret, url: user_regrets_path do |regret| %>
                <h4 class="col-xs-12">何ヶ月目の出来事</h4>
                <%= regret.collection_select :period_id, Period.all, :id, :name, {}, placeholder: "選択してください", class: 'form-control h4' %> 

                <h4 class="col-xs-12">内容</h4>
                <%= regret.text_field :body ,class:"form-control" %>

                <%= regret.submit "登録する", class:"form-control btn btn-primary" %>
            <% end %>
            </div>

            <div class="">
            <% @regrets.each do |regret|  %>
                <%= regret.body %>
                <%= regret.period.name %>
                <% if user_signed_in? && current_user.id == regret.user_id %>
                    <%= link_to "削除", user_regret_path(regret.id), method: :delete %>
                <%end %>
            <% end %>
            </div>
        <% else %>
           <div class="text-center">
                <P>会員登録すると、自分のオススメを登録できるよ！</p>
                <%= link_to_unless_current "ログインする", new_user_session_path, class:"hm-link text-center h5" %>
                <%= link_to_unless_current "会員登録する", new_user_registration_path, class:"hm-link text-center h5" %>
            </div>
        <% end %>
        </div>
    </section>
</div>
</div>