<div class='body'>
<div class="container">
    <section class="row">
     <h3 class="ol-xs-6 col-xs-offset-5">私のやっておけば良かった一言！</h3>

        <% if flash[:success] %>
            <p><%= flash[:success] %></p>
        <% end %>

        <% if @regret.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
        <ul>
        <% @regret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        <% end %>

        <div class="col-xs-2">
            <div class="sidebar">
                <%= render 'layouts/presidebar' %>
            </div>
        </div>
        
        <div class='col-xs-10'>
        <% if user_signed_in? %>
            <div class="regretall">
            <%= form_for @regret, url: user_regrets_path do |regret| %>
            <div class="col-xs-6 col-xs-offset-3">
                <h4 class="regretpriod">何ヶ月目の出来事</h4>
                <%= regret.collection_select :period_id, Period.all, :id, :name, {}, placeholder: "選択してください", class: 'form-control h4' %> 

                <h4 class="">50文字以内でしておけばよかったことを記入してね！</h4>
                <%= regret.text_area :body ,class:"form-control" %>

                <%= regret.submit "投稿！", class:"form-control btn btn-primary" %>
            <% end %>
            </div>

            <% @regrets.each do |regret|  %>  
                <div class='col-xs-6 col-xs-offset-3'>      
                <div class="regretbox">
                    <p class="text-center"><%= regret.period.name %>のこと</p>
                    <p class="text-center"><%= regret.body %></p>
                    <p class="text-center"><% if user_signed_in? && current_user.id == regret.user_id %>
                        <%= link_to "削除", user_regret_path(regret.id), method: :delete %>
                    <%end %>
                </div>
                </div>
            <% end %>
            </div>
        <% else %>

            <div class="text-center">
                <P>会員登録すると、自分のオススメを登録できるよ！</p>
                <%= link_to_unless_current "ログインする", new_user_session_path, class:"hm-link text-center h5" %>
                <%= link_to_unless_current "会員登録する", new_user_registration_path, class:"hm-link text-center h5" %>
            </div>

        <% end %>
        </div>
    </section>
</div>
</div>