<div class="body">
    <div class="container">
        <section class="row">
        <h2 class="col-xs-7 col-xs-offset-5">おすすめ病院一覧</h2>
        
            <% if flash[:success] %>
            <p><%= flash[:success] %></p>
            <% end %>

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/infsidebar' %>
                </div>
            </div>

            <div class="col-xs-10">
                      <!-- 検索窓をつける -->
                        <div class="kensaku clearfix">
                            <%= search_form_for @q, url: user_hosps_path do |f| %>

                            <div class="head-form">
                            <%= f.search_field :name_cont, placeholder: '病院名', class:"form-control" %>
                            </div>
                            <div class="head-form">
                            <%= f.search_field :prefecture_name_cont, placeholder: '都道府県', class:"form-control" %>                           
                            </div>
                            <div class="head-form">
                            <%= f.submit "検索", class:"btn btn-default" %>
                            </div>
                            <% end %>
                        </div>


                        <div class="hospmain">
                        
                            <p class="hosptext"><b>病院のなまえ</p><br>
                            <p class="hosptext"><b>都道府県はここだったよ</p><br>
                            <p class="hosptext"><b>こんなところ良かった！事が書いてあるよ！</p><br>
                            <p class="hosptext"><b>行ってみて良かったよボタン</p><br>
                        </div>

                        <% @hosps.each do |hosp| %>
                        <div class="hospall">
                            <p>病院のなまえ：<%= hosp.name %></p><br>
                            <p>都道府県：<%= hosp.prefecture.name %></p><br>
                            <p>ないよう：<%= hosp.body %></p><br>
                            <p><%= hosp.hosp_likes.count %> オススメ</p><br>
                            <p><%= link_to "詳細を見る", user_hosp_path(hosp.id), class:"btn btn-default form-control" %></p>
                        </div>
                        <% end %>
            </div>
        </section>
    </div>
</div>
