<div class='body'>
    <div class='container'>
        <section class="row row-eq-height">
        <h2 class="title text-center">おすすめ病院一覧</h2>
        
            <% if flash[:success] %>
            <p><%= flash[:success] %></p>
            <% end %>

            <div class="col-xs-2">
            <%= render 'layouts/infsidebar' %>
            </div>
            <div class='col-xs-10'>
                      <!-- 検索窓をつける -->
                        <div class="kensaku">
                            <%= search_form_for @q, url: user_hosps_path do |f| %>

                            <div class="head-form">
                            <%= f.search_field :name_cont, placeholder: '病院名', class:"form-control" %>
                            </div>
                            <div class="head-form">
                            <%= f.search_field :prefecture_name_cont, placeholder: '都道府県', class:"form-control" %>                           
                            </div>
                            <div class="head-form">
                            <%= f.submit "検索", class:"btn btn-default" %>
                            </div>
                            <% end %>
                        </div>

                <table class="table table-striped">
                
                    <thead>
                        <tr>
                            <th>名前</th>
                            <th>都道府県</th>
                            <th>内容</th>
                            <th>オススメ数</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @hosps.each do |hosp| %>
                        <tr>
                            <td><%= hosp.name %></td>
                            <td><%= hosp.prefecture.name %></td>
                            <td><%= hosp.body %></td>
                            <td><%= hosp.hosp_likes.count %> オススメ
                            <td><%= link_to "詳細を見る", user_hosp_path(hosp.id), class:"btn btn-success" %>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
