<div class='body'>
    <div class="container">
        <section class="row">
        <h2 class="title text-center">おすすめの病院登録</h2>
            <div class="text-center">
                <% if flash[:success] %>
                <p class="text-center"><%= flash[:success] %></p>
                <% end %>

                <% if @hosp.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                <br>
                <% @hosp.errors.full_messages.each do |message| %>
                <p><%= message %></p>
                <% end %>
                <% end %>
            </div>

            <div class="col-xs-2">
                <div class="sidebar"> 
                  <%= render 'layouts/infsidebar' %>
                </div>
            </div>
            <div class='col-xs-10'>
            <% if user_signed_in? %>
                <%= form_for @hosp, url: user_hosps_path do |hosp| %>
                    <h4 class="col-xs-12">病院名</h4>
                    <%= hosp.text_field :name ,class:"form-control" %>

                    <h4 class="col-xs-12">都道府県</h4>
                    <%= hosp.collection_select :prefecture_id,  Prefecture.all, :id, :name, {}, placeholder: "選択してください", class: 'form-control h4' %> 

                    <h4 class="col-xs-12">内容</h4>
                    <p class="">どんな風によかったか、書いてね！</p>
                    <%= hosp.text_area :body, class:"form-control" %>

                    <%= hosp.submit "登録する", class:"form-control btn btn-primary" %>
                    </div>
                <% end %>
            <% else %>
            <div class="text-center">
                <P>会員登録すると、自分のオススメを登録できるよ！</p>
                <li><%= link_to_unless_current "ログインする", new_user_session_path, class:"hm-link text-center h5" %></li>
                <li><%= link_to_unless_current "会員登録する", new_user_registration_path, class:"hm-link text-center h5" %></li>
            <% end %>
            </div>
            </div>
        </section>
    </div>
</div>