<%# 病院の詳細だよ〜〜 %>
<div class='body'>
    <div class='container'>
        <div class='row row-eq-height'>
            <h2 class="col-xs-7 col-xs-offset-5">おすすめ病院 詳細</h2>
            <div class="col-xs-2">
                <div class="sidebar">   
                    <%= render 'layouts/infsidebar' %>
                </div>
            </div>

            <div class='col-xs-10'>

                    <% if flash[:success] %>
                    <p class="text-center"><%= flash[:success] %></p>
                    <% end %>

                    <% if @hosp_review.errors.any? %>
                    <div id="error_explanation" class="alert alert-danger">
                    <ul>
                    <% @hosp_review.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    <% end %>

                <div class="hospmain clearfix">

                    <label class="hosptext"><b>医院の名前</label><br>
                    <label class="hospbodytext">
                    <h4 class="hosptext"><%= @hosp.name %></h4>
                    </label><br>

                    <label class="hosptext"><b>都道府県</label><br>
                    <label class="hospbodytext">
                    <h4 class="hosptext"><%= @hosp.prefecture.name%></h4>
                    </label><br>

                    <label class="hosptext"><b>内容</label><br>
                    <label class="hospbodytext">
                    <h4 class="hosptext"><%= @hosp.body %></h4>
                    </label><br>

                    <% if user_signed_in? %>
                    <%# いいね!ボタンの実装  %>
                        <div class="hosplike clearfix">
                                <p class="" style="color:#20B2AA"><b>良かった医院をオススメしよう！</p>

                            <% if @hosp.favorited_by?(current_user) %>
                                <%= link_to  user_hosp_hosp_likes_path(@hosp), method: :delete do %>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 60px; color: #C71585"></span>
                                <% end %>
                                <%= @hosp.hosp_likes.count %> オススメ

                            <% else %>
                                <%= link_to  user_hosp_hosp_likes_path(@hosp), method: :post do %>
                                <span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 60px; color: #555555"></span>
                                <% end %>
                                <%= @hosp.hosp_likes.count %> オススメ

                            <% end %>
                        </div>
                            
                    <% else %>
                        <div class="text-center">
                            <h4 class="unlink"><b>会員登録して、良かった医院をオススメしよう！</h4>                
                        </div>
                    <% end %>

                    <div class="hospedit">
                    <% if user_signed_in? && current_user.id == @hosp.user.id  %>
                    <%= link_to "編集する",  edit_user_hosp_path , class:"btn btn-default form-control" %>                      
                    <%= link_to "削除する", user_hosp_path(@hosp.id), class:"btn btn-danger", method: :delete %>
                    <% end %>
                    </div>
                </div>
              

              <%# review %>
                <div class="">
                    <h3 class="text-center"><b>ユーザーレビュー</b></h3>
                    
                    <% @hosp.hosp_reviews.each do |review| %>
                        <div class="review">
                            <%# <p><%= review.user.nickname %>
                            <p><%= review.body %></p>

                            <% if user_signed_in? && current_user.id == review.user_id %>
                            <label class="reviewlink"><%= link_to "編集", edit_user_hosp_hosp_review_path(@hosp.id,review.id), class:"botan1" %></label>
                            <label class="reviewlink"><%= link_to "削除", user_hosp_hosp_review_path(@hosp.id,review.id), method: :delete %></label>
                            <% end %>
                        </div>
                    <% end %>
                </div>

                    <% if user_signed_in? %>
                        <%= form_for [@hosp, @hosp_review], url:user_hosp_hosp_reviews_path(@hosp)  do |f| %>
                        <%= f.text_area :body, class: "form-control",placeholder: "コメントをここに" %>
                        <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
                        <% end %>
                    <% end %>
            </div>
        </div>
    </div>
</div>