<%# 病院の詳細だよ〜〜 %>
<div class='body'>
    <div class='container'>
        <div class='row row-eq-height'>
            <h2 class="title text-center">おすすめ病院 詳細</h2>
            <div class="col-xs-2">
                <div class="sidebar">   
                    <%= render 'layouts/infsidebar' %>
                </div>
            </div>

            <div class='col-xs-10'>

                    <% if flash[:success] %>
                    <p class="text-center"><%= flash[:success] %></p>
                    <% end %>

                    <% if @hosp_review.errors.any? %>
                    <div id="error_explanation" class="alert alert-danger">
                    <ul>
                    <% @hosp_review.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    <% end %>

                <table class="table table-striped">
                <thead>
    			<tr>
	    			<th>名前</th>
		    		<th>都道府県</th>
			    	<th>内容</th>
                    <% if user_signed_in? %>
                    <th>良かったら押してね</th>
                    <% else %>
                    <th><th>
                    <% end %>
    			</tr>
	            </thead>
                <tbody>
                <tr>
                    <td><%= @hosp.name %></td>
                    <td><%= @hosp.prefecture.name%></td>
                    <td><%= @hosp.body %></td>
                    <td>
                    <% if user_signed_in? %>
                    <%# いいね!ボタンの実装  %>
                        <% if @hosp.favorited_by?(current_user) %>
                            <%= link_to  user_hosp_hosp_likes_path(@hosp), method: :delete do %>
                            <i class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color: red;"></i>
                            <%# <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>♡ %>
                            <% end %>
                            <%= @hosp.hosp_likes.count %> 
                        <% else %>
                            <%= link_to  user_hosp_hosp_likes_path(@hosp), method: :post do %>
                            <i class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color: black;"></i>
                            <%# <i class="fa fa-heart-o" aria-hidden="true"></i>♡ %>
                            <% end %>
                            <%= @hosp.hosp_likes.count %> 
                        <% end %></td>
                    <% else %>
                        <div class="text-center">
                        <p>会員登録して、良かった医院をオススメしよう！</p>                
                        </div>
                    <% end %>
                </tr>
                </tbody>
                </table>
                    

                <div class="link">
                    <% if user_signed_in? && current_user.id == @hosp.user.id  %>
                    <%= link_to "編集する",  edit_user_hosp_path ,class:"btn btn-success"%>                      
                    <%= link_to "削除する", user_hosp_path(@hosp.id), class:"btn btn-danger", method: :delete %></div>
                    <% end %>
                </div>

                
                <div class="user_review">
                <h3 class="review_titile text-center"><b>ユーザーレビュー</b></h3>
                    <div class="review">
                    <% @hosp.hosp_reviews.each do |review| %>
                        <div olspan="3" class="user_info">
                            <% if user_signed_in? && current_user.id == review.user_id %>
                            <%= link_to "編集", edit_user_hosp_hosp_review_path(@hosp.id,review.id), class:"botan1" %>
                            <%= link_to "削除", user_hosp_hosp_review_path(@hosp.id,review.id), method: :delete %>
                            <% end %>
                        </div>
                        <div class="review_post" >
                            <%= review.body %>
                        </div>
                    </div>
                    <% end %>
                </div>

                <% if user_signed_in? %>
                    <%= form_for [@hosp, @hosp_review], url:user_hosp_hosp_reviews_path(@hosp)  do |f| %>
                    <div class="row">
                        <div class="col-sm-12">
                            <%= f.text_area :body, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
                        </div>
                        </div>
                    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>