<%# 病院の詳細だよ〜〜 %>
<div class='body'>
    <div class='container'>
        <div class='row'>
        <h1 class="col-xs-10 col-xs-offset-2">おすすめ病院 詳細</h1>
        <table class="table table-striped">
            <thead>
			<tr>
				<th>名前</th>
				<th>都道府県</th>
				<th>内容</th>
			</tr>
	        </thead>
            <tr>
                <td><%= @hosp.name %></td>
                <td><%= @hosp.prefecture.name%></td>
                <td><%= @hosp.body %></td>
            </tr>
        </table>

        <div class="">
        <% if @hosp.user.id == current_user.id%>
            <div class="form-group has-icon">
			<%= link_to "編集・削除",  edit_user_hosp_path ,class:"btn btn-success"%></div>
             <div class="form-group has-icon">
            <%= link_to "削除する", user_hosp_path(@hosp.id), class:"btn btn-danger", method: :delete %></div>
    	<% end %>
        </div>
        </div>
    </div>
</div>