<div class="body">
    <div class="container">
        <section class="row row-eq-height">
        <h2 class="col-xs-7 col-xs-offset-5">おすすめ投稿 編集</h2>

            <div class="col-xs-2">
                <div class="sidebar"> 
                    <%= render 'layouts/term' %>
                </div>
            </div>

            <div class='col-xs-10'>

                    <% if flash[:success] %>
                    <p class="text-center"><%= flash[:success] %></p>
                    <% end %>

                    <% if @recommend.errors.any? %>
                    <div id="error_explanation" class="alert alert-danger">
                    <ul>
                    <% @recommend.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    <% end %>

                <div class="recommendbox">
                    <%= form_for @recommend, url:user_recommend_path(@recommend) do |recommend| %>
                    <%= recommend.hidden_field :term %>
                    

                    <h4 class="">ジャンル</h4>
                    <%= recommend.radio_button :genre, "アクティブ" %> アクティブ </label>
                    <%= recommend.radio_button :genre, "リラックス" %> リラックス </label>

                    <h4 class="">タイトル</h4>
                    <%= recommend.text_field :title %>

                    <h4 class="">内容</h4>
                    <%= recommend.text_area :body, class:"form-control" %>

                    <div class="recommendlink">
                    <%= recommend.submit "登録内容を変更する", class:"btn btn-default" %>
                    <%= link_to "登録内容を削除する", user_recommend_path(@recommend.id), class:"btn btn-danger", method: :delete %>
                    <% end %>
                    </div>
                </div>
            </div>
        <section>
    </div>
</div>