<div class='body'>
    <div class='container'>
        <section class="row row-eq-height">
            <h2 class="col-xs-6 col-xs-offset-6">おすすめ一覧</h2>

            <% if flash[:success] %>
            <h4 class="text-center"><%= flash[:success] %></h4>
            <% end %>

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/infsidebar' %>    
                </div>
            </div>
            

            <div class='col-xs-10'>

                <% @recommends.each do |recommend| %>
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="recomendlist clearfix">
                        <span class="listgenre"><%= recommend.genre %></span>
                        <label class="listtitle">title：<%= recommend.title %></label><br>
                        <p class="listbody"><%= recommend.body %></p>
                        <span class="icon glyphicon glyphicon-thumbs-up" aria-hidden="true">
                        <%= recommend.recommend_likes.count %> </span>

                    </div>
                    <%= link_to "詳しく", user_recommend_path(recommend.id), class:"btn btn-default form-control" %>
                </div>
                <% end %>

            </div>
        </section>
    </div>
 </div>


