<div class='body'>
    <div class="container">
        <section class="row row-eq-height">
          <h2 class="col-xs-7 col-xs-offset-5">妊娠期間のおすすめ登録</h2>
                <% if flash[:success] %>
                <p class="text-center"><%= flash[:success] %></p>
                <% end %>

                <% if @recommend.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                <ul>
                <% @recommend.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
                <% end %>

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/presidebar' %>
                </div>
            </div>

            <div class='col-xs-10'>
            <% if user_signed_in? %>

                <div class="recommendbox">

                <%= form_for @recommend, url: user_preg_comp_path do |recommend| %>
                    <%= recommend.hidden_field :term, {value: '妊娠'} %>

                    <h4 class=""><b>ジャンル</h4>
                        <label><%= recommend.radio_button :genre, "アクティブ" %> アクティブ　</label>
                        <label><%= recommend.radio_button :genre, "リラックス" %> リラックス </label>

                    <h4 class=""><b>タイトル</h4>
                    <%= recommend.text_field :title  %>

                    <h4 class=""><b>どんな風によかったか、書いてね！</h4>
                    <%= recommend.text_area :body, class:"form-control" %>

                    <div class="recommendlink">
                    <%= recommend.submit "登録する", class:"btn btn-default" %>
                    </div>
                <% end %>
                </div>

            <% else %>
                <div class="recommendbox text-center">
                <P>会員登録すると、自分のオススメを登録できるよ！<br>
                <%= link_to_unless_current "ログインする", new_user_session_path, class:"hm-link text-center h4" %>
                <%= link_to_unless_current "会員登録する", new_user_registration_path, class:"hm-link text-ceenter h4" %></p>
                </div>
            <% end %>
            </div>
        </section>
    </div>
</div>