<div class='body'>
    <div class="container">
        <section class="row">
            <h1 class="col-xs-10 col-xs-offset-2">妊娠おすすめ一覧</h1>
                <% if flash[:success] %>
                <p class="text-center"><%= flash[:success] %></p>
                <% end %>
            <div class="col-xs-2">
            <%= render 'layouts/presidebar' %>
            </div>
            <div class='col-xs-10'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ジャンル</th>
                        <th>Title</th>
                        <th>bosy</th>
                        <th></th>
                        </tr>
                </thead>
                <tbody>
                    <% @recommends.each do |recommend| %>
                    <tr>
                        <td><%= recommend.genre %></td>
                        <td><%= recommend.title %></td>
                        <td><%= recommend.body %></td>
                        <td><%= link_to "詳細を見る", user_recommend_path(recommend.id), class:"btn btn-success" %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        </section>
    </div>
 </div>