<div class='body'>
    <div class="container">
        <section class="row row-eq-height">
            <h2 class="col-xs-7 col-xs-offset-5">期間中のおすすめ登録</h2>
                <% if flash[:success] %>
                <p class="text-center"><%= flash[:success] %></p>
                <% end %>

                <% if @recommend.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                <ul>
                <% @recommend.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
                <% end %>

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/infsidebar' %>
                </div>
            </div>
            
            <div class='col-xs-10'>
            <% if user_signed_in? %>

                <div class="recommendbox">
                <%= form_for @recommend, url: user_infer_create_path do |recommend| %>
                    <%= recommend.hidden_field :term, {value: '不妊'} %>
 
                        <h4 class="">ジャンル</h4>
                        <label><%= recommend.radio_button :genre, "アクティブ" %> アクティブ </label>
                        <label><%= recommend.radio_button :genre, "リラックス" %> リラックス </label>

                        <h4 class="">タイトル</h4>
                        <%= recommend.text_field :title %>

                        <h4 class="">どんな風によかったか、書いてね！</h4>
                        <%= recommend.text_area :body, class:"form-control" %>

                        <div class="recommendlink">
                        <%= recommend.submit "登録する", class:"btn btn-default" %>
                <% end %>
                </div>
            <% else %>
                <div class="unuser text-center">
                <h4 class="unlink"><b>会員登録すると、自分のオススメを登録できるよ！</h4></b>
                <%= link_to_unless_current "ログインする", new_user_session_path, class:"unlink text-center h5" %>
                <%= link_to_unless_current "会員登録する", new_user_registration_path, class:"unlink text-ceenter h5" %></p>
                </div>
            <% end %>    
            </div>

        </section>
    </div>
</div>