<div class='body'>
    <div class="container">
        <section class="row">
            <h2 class="col-xs-7 col-xs-offset-5">おすすめ情報 詳細</h2>

            <div class="col-xs-2">
                <div class="sidebar"> 
                    <%= render 'layouts/term' %>
                </div>
            </div>

            <div class="col-xs-10">
                <div class="recomendlist">
                    <span class="listgenre"><%= @recommend.genre %></span>
                    <label class="listtitle">title：<%= @recommend.title %></label><br>
                     <p class="listbody"><%= @recommend.body %></p>
                    
                        <% if user_signed_in? %>
                        <%# いいね!ボタンの実装  %>
                                <div class="showpop">
                                    <p class="" style="color: #006400">やってみたいと思ったら記録しておこう！</p>
                                </div>
                            <% if @recommend.favorited_by?(current_user) %>
                                <%= link_to user_recommend_recommend_likes_path(@recommend), method: :delete do %>
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: 60px; color: #C71585"></span>
                                <% end %>
                                <%= @recommend.recommend_likes.count %> やってみたい！
                                
                            <% else %>
                                <%= link_to user_recommend_recommend_likes_path(@recommend), method: :post do %>
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="font-size: 60px; color: #555555"></span>
                               <% end %>
                                <%= @recommend.recommend_likes.count %> やってみたい！
                            <% end %>
                            
                            <% if @recommend.user.id == current_user.id%>
                                <%= link_to "編集・削除",  edit_user_recommend_path ,class:"btn  btn-default form-control"%>
                            <% end %>
                        <% end %>
                </div>
 
            </div>


        </section>
    </div>
</div>