<div class='body'>
    <div class="container">
        <section class="row">
            <div class="col-xs-2">
            <div class="sidebar"> 
                <% if @recommend.term == 'infertility' %>
                    <p>妊活TOP</p>
                    <%= link_to "妊活TOP", infer_top_path %>
                    <br><br>
                    <p>わたしのオススメ医院</p>
                    <%= link_to "オススメ医院を登録", new_user_hosp_path %>
                    <%= link_to "医院を一覧で見る", user_hosps_path %>
                    <br><br>
                    <p>期間中の過ごし方</p>
                    <%= link_to "オススメの過ごし方を登録", user_infer_new_path %>
                    <%= link_to "過ごし方の一覧", user_infer_index_path %>
                    <%= link_to "私のやってみたい一覧！",user_recommend_likes_path %>
                    <br><br>
                    <p>様々な生き方</p>
                    <%= link_to "", "#"%><br> 
                    <%= link_to "", "#"%><br> 
                <% else%>
                    <p>妊娠TOP</p>
                    <%= link_to "妊娠TOP", preg_top_path %>
                    <br><br>
                    <p>私のやっておけば良かった！</p>
                    <%= link_to "一言集！", user_regrets_path %>
                    <br><br>
                    <p>国の支援制度</p>
                    <%= link_to "国の支援制度", "#" %>
                    <br><br>
                    <p>期間中の過ごし方</p>
                    <%= link_to "オススメの過ごし方を登録", user_preg_latest_path %><br>
                    <%= link_to "過ごし方の一覧", user_preg_list_path %><br>
                    <%= link_to "私のやってみたい一覧！",user_recommend_likes_path %><br>

                <% end %>
            </div>
            </div>
            <div class='col-xs-10'>
            <h1 class="col-xs-11 col-xs-offset-1">おすすめ情報 詳細</h1>
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="col-xs-9">
                        <h2>ジャンル</h2>
                            <label><%= @recommend.genre %></label>
                        <h2>タイトル</h2>
                            <label><%= @recommend.title %></label>
                        <h2>内容</h2>
                            <label><%= @recommend.body %></label>

                    <% if user_signed_in? %>
                        <%# いいね!ボタンの実装  %>
                        <% if @recommend.favorited_by?(current_user) %>
                            <li><%= link_to user_recommend_recommend_likes_path(@recommend), method: :delete do %>
                            <i class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color: red;"></i>
                            <%# <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>♡ %>
                            <% end %>
                            <%= @recommend.recommend_likes.count %> いいね
                            </li>
                        <% else %>
                            <li><%= link_to user_recommend_recommend_likes_path(@recommend), method: :post do %>
                            <i class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color: black;"></i>
                            <%# <i class="fa fa-heart-o" aria-hidden="true"></i>♡ %>
                            <% end %>
                            <%= @recommend.recommend_likes.count %> いいね
                        <% end %>

                        <% if @recommend.user.id == current_user.id%>
                            <div class="form-group has-icon">
                            <%= link_to "編集",  edit_user_recommend_path ,class:"btn btn-success"%></div>
                            <div class="form-group has-icon">
                            <%= link_to "削除する", user_recommend_path(@recommend.id), class:"btn btn-danger", method: :delete %></div>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>