<div class='body'>
    <div class="container">
        <section class="row row-eq-height">

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/common' %>
                </div>   
            </div>

            <div class="col-xs-10">
                <div class="usershow">
                <h2 class="text-center">登録情報</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-xs-3">ニックネーム</td>
                                <td class="col-xs-9 h4"><%= @user.nickname %></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-xs-3">名前</td>
                                <td class="col-xs-9 h4"><%= @user.name %></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-xs-3 ">電話番号</td>
                                <td class="col-xs-9 h4"><%= @user.tel %></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-xs-2 ">メールアドレス</td>
                                <td class="col-xs-6 h4"><%= @user.email %></td>
                                <td class="col-xs-4"><%= link_to "編集・削除", edit_user_user_path(@user.id), class:"btn btn-success" %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="usershow">
                <h2 class="text-center">オススメ投稿一覧</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>タイトル</th>
                                <th>ジャンル</th>
                                <th>内容</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @user.recommends.each do |recommend| %> 
                            <tr>
                                <td>
                                <%= link_to user_recommend_path(recommend) do %>
                                <%= recommend.title %>
                                <% end %>
                                </td>
                                <td><%= recommend.genre %></td>
                                <td><%= recommend.body %></td>
                                <td>
                                <%= link_to "削除", user_recommend_path(recommend.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <div class="usershow">
                    <h2 class="text-center">病院投稿一覧</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>病院名</th>
                                    <th>内容</th>
                                    <th>都道府県</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @user.hosps.each do |hosp| %> 
                                <tr>
                                    <td>
                                    <%= link_to user_hosp_path(hosp) do %>
                                    <%= hosp.name %>
                                    <% end %>
                                    </td>
                                    <td><%= hosp.body %></td>
                                    <td><%= hosp.prefecture.name %></td>
                                    <td>
                                    <%= link_to "削除", user_hosp_path(hosp.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                </div>

                <div class="usershow">
                    <h2 class="text-center">レビュー投稿一覧</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>病院名</th>
                                    <th>レビュー内容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @user.hosp_reviews.each do |review| %>
                                <tr>
                                    <td>
                                    <%= link_to admin_hosp_path(review.hosp_id) do %>
                                    <%= review.hosp.name %>
                                    <% end %></td>
                                    <td><%= review.body %></td>
                                    <td>
                                    <%= link_to "削除", user_hosp_hosp_review_path(review.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                </div>

                <div class="usershow">
                    <h2 class="text-center">やっておけばよかった！投稿一覧</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>時期</th>
                                    <th>内容</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @user.regrets.each do |regret| %>
                                <tr>
                                    <td><%= regret.period.name %></td>
                                    <td><%= regret.body %></td>
                                    <td>
                                    <%= link_to "削除", user_regret_path(regret.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                </div>
            </div>
        </section>
    </div>
</div>

            