<div class='body'>
    <div class='container'>
        <section class="row">
        <h2 class="title text-center">おすすめ病院一覧</h2>
            <div class='col-xs-12'>
                      <!-- 検索窓をつける -->
                        <div class="kensaku">
                            <%= search_form_for @q, url: user_hosps_path do |f| %>

                            <div class="head-form">
                            <%= f.search_field :name_cont, placeholder: '病院名', class:"form-control" %>
                            </div>
                            <div class="head-form">
                            <%= f.search_field :prefecture_name_cont, placeholder: '都道府県', class:"form-control" %>                           
                            </div>
                            <div class="head-form">
                            <%= f.submit "検索", class:"btn btn-default" %>
                            </div>
                            <% end %>
                        </div>

                <table class="table table-striped">
                
                    <thead>
                        <tr>
                            <th>投稿者</th>
                            <th>名前</th>
                            <th>都道府県</th>
                            <th>内容</th>
                            <th>オススメ数</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @hosps.each do |hosp| %>
                        <tr>
                            <td>
                            <%= link_to admin_user_path(hosp.user_id) do %>
                            <%= hosp.user_id %>
                            <% end %>
                            </td>
                            <td><%= hosp.name %></td>
                            <td><%= hosp.prefecture.name %></td>
                            <td><%= hosp.body %></td>
                            <td><%= hosp.hosp_likes.count %> 
                            <td><%= link_to "詳細", admin_hosp_path(hosp.id), class:"btn btn-success" %>
                            <td><%= link_to "削除", admin_hosp_path(hosp.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></div>

                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
