<div class='body'>
    <div class='container'>
        <section class="row row-eq-height">
            <h2 class="col-xs-10 col-xs-offset-2">私のやってみたい一覧</h2>

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/common' %>    
                </div>
            </div>
            
            <div class='col-xs-10'>
                <% if user_signed_in? %>

                    <% @recommend_likes.each do |recommend_like| %>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="recomendlist clearfix">
                        <span class="listgenre"><%= recommend_like.recommend.genre %></span>
                        <label class="listtitle">title：<%= recommend_like.recommend.title %></label><br>
                        <p class="listbody"><%= recommend_like.recommend.body %></p>
                    </div>
                        <%= link_to "詳細を見る", user_recommend_path(recommend_like.recommend.id), class:"btn btn-default form-control" %>
                    <% end %>

                <% else %>

                    <div class="text-center">
                        <P>会員登録すると、自分のオススメを登録できるよ！</p>
                        <%= link_to_unless_current "ログインする", new_user_session_path, class:"hm-link text-center h5" %>
                        <%= link_to_unless_current "会員登録する", new_user_registration_path, class:"hm-link text-center h5" %>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
 </div>


