<div class='body'>
    <div class='container'>
        <section class="row">
            <div class="col-xs-2">
                <div class="sidebar">
                
                </div>
            </div>
            <div class='col-xs-10'>
                <h1 class="col-xs-10 col-xs-offset-2">私のやってみたい一覧</h1>
                <% if user_signed_in? %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @recommend_likes.each do |recommend_like| %>
                        <tr>
                            <td><%= recommend_like.recommend.genre %></td>
                            <td><%= recommend_like.recommend.title %></td>
                            <td><%= recommend_like.recommend.body %></td>
                            <td><%= link_to "詳細を見る", user_recommend_path(recommend_like.recommend.id), class:"btn btn-success  btn-xs " %>
                        </tr>
                        <% end %>
                    </tbody>
                    </table>
                    <% else %>
                        <div class="text-center">
                            <P>会員登録すると、自分のオススメを登録できるよ！</p>
                            <%= link_to_unless_current "ログインする", new_user_session_path, class:"hm-link text-center h5" %>
                            <%= link_to_unless_current "会員登録する", new_user_registration_path, class:"hm-link text-center h5" %>
                        </div>
                    <% end %>
            </div>
        </section>
    </div>
 </div>


