<div class='body'>
    <div class="container">
        <section class="row">

            <div class="col-xs-2">
            </div>
            <div class="col-xs-10">
            <h1 class="col-xs-8 col-xs-offset-4">ユーザー情報</h1>

                <div class="col-xs-12 ">    
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col text-center">登録内容</th>
                            <th class="col text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-xs-3">ニックネーム</td>
                            <td class="col-xs-9 h4"><%= @user.nickname %></td>
                        </tr>
                        <tr>
                            <td class="col-xs-3">名前</td>
                            <td class="col-xs-9 h4"><%= @user.name %></td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 ">電話番号</td>
                                <td class="col-xs-9 h4"><%= @user.tel %></td>
                        </tr>
                        <tr>
                            <td class="col-xs-3 ">メールアドレス</td>
                            <td class="col-xs-9 h4"><%= @user.email %></td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <div class="col-xs-12 ">
                <h2>オススメ投稿一覧</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>時期</th>
                            <th>タイトル</th>
                            <th>ジャンル</th>
                            <th>内容</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.recommends.each do |recommend| %> 
                        <tr>
                            <td>
                            <%= link_to admin_recommend_path(recommend) do %>
                            <%= recommend.id %>
                            <% end %>
                            </td>
                            <td><%= recommend.term %></td>
                            <td><%= recommend.title %></td>
                            <td><%= recommend.genre %></td>
                            <td><%= recommend.body %></td>
                            <td>
                            <%= link_to "削除", admin_recommend_path(recommend.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>

                <div class="col-xs-12 ">
                <h2>病院投稿一覧</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>病院名</th>
                            <th>内容</th>
                            <th>都道府県</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.hosps.each do |hosp| %> 
                        <tr>
                            <td>
                            <%= link_to admin_hosp_path(hosp) do %>
                            <%= hosp.id %>
                            <% end %>
                            </td>
                            <td><%= hosp.name %></td>
                            <td><%= hosp.body %></td>
                            <td><%= hosp.prefecture.name %></td>
                            <td>
                            <%= link_to "削除", admin_hosp_path(hosp.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>

                <div class="col-xs-12 ">
                <h2>レビュー投稿一覧</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>レビュー元病院ID</th>
                            <th>病院名</th>
                            <th>レビュー内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.hosp_reviews.each do |review| %>
                        <tr>
                            <td>
                            <%= link_to admin_hosp_path(review.hosp_id) do %>
                            <%= review.hosp_id %>
                            <% end %></td>
                            <td><%= review.hosp.name %></td>
                            <td><%= review.body %></td>
                            <td>
                            <%= link_to "削除", admin_hosp_review_path(review.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>  

                <div class="col-xs-12 ">
                <h2>後悔投稿一覧</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>投稿ID</th>
                            <th>時期</th>
                            <th>内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user.regrets.each do |regret| %>
                        <tr>
                            <td>
                            <%= regret.id %></td>
                            <td><%= regret.period.name %></td>
                            <td><%= regret.body %></td>
                            <td>
                            <%= link_to "削除", admin_regret_path(regret.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                </div>  

            <%= link_to "このユーザを削除", admin_user_path(@user.id), class:"alert-link btn btn-danger form-control", method: :delete, "data-confirm" => "本当に退会させますか？" %>
            </div>
        </section>
    </div>
</div>
