<div class="body">
    <div class="container">
        <section class="row row-eq-height">
            <div class="col-xs-2">
                <div class="sidebar"> 
                  <%= render 'layouts/infsidebar' %>
                </div>
            </div>
            <div class='col-xs-10'>
                <h3>レビューの編集</h3>

                    <% if flash[:success] %>
                    <p class="text-center"><%= flash[:success] %></p>
                    <% end %>

                    <% if @hosp_review.errors.any? %>
                    <div id="error_explanation" class="alert alert-danger">
                    <ul>
                    <% @hosp_review.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    <% end %>


                <%= form_for [@hosp, @hosp_review], url:user_hosp_hosp_review_path(@hosp, @hosp_review) do |f| %>
                <div class="form-group has-icon">
                    <label class="control-label" for="inputbody">内容</label>
                    <%= f.text_area :body, class:"form-control", id:"inputbody", placeholder:"コメント"%>
                </div>
                <%= f.submit "送信する",class:"btn-lg btn-danger" %>
                <% end %>



            </div>
        </section>
    </div>
</div>