            <div class="sidebar"> 
                <p>総合TOP</p>
                <%= link_to 'TOP', root_path %>
                
                <p>妊活TOP</p>
                <%= link_to "妊活TOP", infer_top_path %>

                <p>妊娠TOP</p>
                <%= link_to "妊娠TOP", preg_top_path %>

                <% if user_signed_in? %>
                <p>マイページ</p>
                <%= link_to "マイページ",user_user_path(current_user.id) %>
                <p>期間中やってみたい！</p>                   
                <%= link_to "私のやりたい一覧！",user_recommend_likes_path %><br>

                <P>ログアウト</p>
                <%= link_to "LOGOUT", destroy_user_session_path, class:"text-center", method: :delete %>
                <% end %>
            </div>