            <div class="sidebar"> 
                <p>赤ちゃんがいるあなたへ</p>
                <%= link_to "TOP", preg_top_path %>
                <br><br>
                <p>私の後悔集！</p>
                <%= link_to "一言集！", user_regrets_path %>
                <br><br>
                <%# <p>国の支援制度</p>
                <%= link_to "国の支援制度", "#" %>
                <%# <br><br> %> 
                <p>妊娠期間中の過ごし方</p>
                <%= link_to "オススメの過ごし方を登録", user_preg_latest_path %><br>
                <%= link_to "過ごし方の一覧", user_preg_list_path %><br>
                <%= link_to "私のやってみたい一覧！",user_recommend_likes_path %>
                <br><br>

                <% if user_signed_in? %>
                <p>マイページ</p>
                <%= link_to "マイページ",user_user_path(current_user.id) %><br>
                <%= link_to "LOGOUT", destroy_user_session_path, class:"text-center", method: :delete %>
                <% end %>
            </div>