<div class="body">
<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header text-center">
                        <h2 class="form-header-title">アカウント登録</h2></div>
                    <div class="form-body">

                      <div class="row">
                          <div class="col-xs-offset-1 col-xs-10">
                              <div class="text-center">
                                  <h4>全てを入力してください</h4>
                                  <h5>会員登録をすると色々な投稿ができるように！<br>
                                  登録してもらった情報は管理者だけがわかります。<br>
                                  登録情報が、投稿の際に出てしまうことはないので安心してください。</h5>
                              </div>
                          </div>
                      </div>
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>

                      <div class="field">
                      <div class="form-group has-icon">
                        <label class="control-label sr-only" for="name">フルネーム</label>
                        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputname", placeholder:"フルネーム"%>
                      </div>

                      <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputnickname">ニックネーム</label>
                        <%= f.text_field :nickname, autofocus: true, class:"form-control", id:"inputnickname", placeholder:"ニックネーム"%>
                      </div>

                      <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputftel">電話番号</label>
                        <%= f.text_field :tel, autofocus: true, class:"form-control", id:"inputtel", placeholder:"電話番号 半角英数字 ハイフンなし "%>
                      </div>

                      <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputfmail">email</label>
                        <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputemail", placeholder:"メールアドレス"%>
                      </div>

                      <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputpassword"></label>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %>桁以上)</em>
                        <% end %><br/>
                        <%= f.password_field :password, autocomplete: "new-password" , class:"form-control", id:"inputpassword", placeholder:"パスワード"%>
                      </div>

                      <div class="form-group has-icon">
                        <label class="control-label sr-only" for="inputpassword_confirmation">password_confirmation</label>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", id:"inputpassword_confirmation", placeholder:"確認用パスワード"%>
                      </div>

                      <%= f.submit "アカウントを登録する", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                      <% end %>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
